.main-header{
	width: 100%;
    position: fixed;
    top: 30px;
    z-index: 9999;
}

.menu-wrapped {
	background-color: #fff;
	box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.07);
}

.menu-wrapped .navbar{
	min-height: 50px;
	position: relative;
}

.navbar a{
	text-decoration: none;
	color: #46bae2;
	font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 50px;
    margin-left: 15px;
}

.navbar .button-menu {
	position: absolute;
    right: 7px;
    top: 2px;
	background-color: #f2745f;
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 8px 12px;
    margin: 5px;
}

.button-menu i {
	font-size: 20px;
}

.button-dropdown-menu i {
	font-size: 20px;
}

.navbar .dropdown-menu ul{
	max-height: 0;
	overflow-y: hidden;
	transition: max-height 0.7s;
	/* ease-in: cham luc bat dau, ease-out: cham khi ket thuc, linear: nhu nhau */
}

.navbar .dropdown-menu.collapse ul{
	max-height: 500px;
	transition: max-height 0.7s;
}

.navbar .dropdown-menu ul{
	list-style: none;
	margin: 0;
}

.dropdown-menu ul li:not(:last-child){
	border-bottom: 1px solid #eee;
}

.dropdown-menu ul li {
	text-align: center;
}

.dropdown-menu ul .active{
	background-color: #f2745f;
	transition: color 0.5s;
	transition: background-color 0.5s;
}

.dropdown-menu ul .active a {
	color: #fff;
	transition: color 0.5s;
}

.dropdown-menu ul li a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	color: #aeaeae;
}