.main-header{
	width: 100%;
    position: fixed;
    top: 30px;
}

.menu-wrapped {
	background-color: #fff;
}

.menu-wrapped .navbar{
	min-height: 50px;
	position: relative;
}

.navbar a{
	text-decoration: none;
	color: #46bae2;
	font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 50px;
    margin-left: 15px;
}

.navbar .button-menu {
	position: absolute;
    right: 7px;
    top: 2px;
	background-color: #f2745f;
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 8px 12px;
    margin: 5px;
}

.button-menu i {
	font-size: 20px;
}

.navbar .responsive{
	display: block !important;
	margin-right: 50px;
}

.navbar .menu{
	display: none;
	flex-grow: 1;
}

.navbar .menu ul{
	list-style: none;
	margin: 0;
}

.menu ul li:not(:last-child){
	border-bottom: 1px solid #eee;
}

.menu ul li {
	text-align: center;
}

.menu ul .active{
	background-color: #f2745f;
}

.menu ul .active a {
	color: #fff;
}

.menu ul li a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	color: #aeaeae;
}