.service {
    background-image: url('../img/services-bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.service-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 30px;
    color: #fff;
}

.service-item.mobile{
    background-color: rgba(242, 116, 95, 0.75);
}

.service-item.html{
    background-color: rgba(54, 62, 80, 0.75);
}

.service-item.responsive{
    background-color: rgba(70, 186, 226, 0.75);
}

.service-item h4{
    text-transform: uppercase;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
}

.service-item p{
    margin: 0;
    font-size: 17px;
    text-align: center;
    line-height: 1.5;
}