body {
	background-color: #f4f4f4;
    font-family: Source Sans Pro, sans-serif;
    letter-spacing: 0.5px;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px){
    .container {
        width: 750px;
    }
}
@media (min-width: 576px){
    .container {
        width: 500px;
    }
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.btn {
    padding: 10px 20px;
    text-transform: uppercase;
    color: #fff;
    background: #ddd;
    border: 0;
    font-weight: 600;
	margin-right: 20px;
    letter-spacing: 0.5px;
    text-decoration: none;
}

.btn-blue {
    background-color: #46bae2;
}

.btn-orange {
    background-color: #f2745f;
}
