body {
	background-color: #353f49;
	font-family: Source Sans Pro, sans-serif;
}

.btn {
    padding: 10px 20px;
    text-transform: uppercase;
    color: #fff;
    background: #ddd;
    border: 0;
    font-weight: 600;
	margin: 10px;
    letter-spacing: 0.5px;
    text-decoration: none;
}

.btn-blue {
    background-color: #46bae2;
}

.btn-orange {
    background-color: #f2745f;
}