.section-blog {
	background-color: #f4f4f4
}

.section-blog .section-heading h4 {
	margin-top: 0;
}

.section-blog .section-heading{
	padding: 50px 0 35px;
}

.blog h4 {
	margin: 0;
	letter-spacing: 0.5px;
	font-size: 25px;
	text-transform: uppercase;
}

.blog-post .post-image img{
	width: 100%;
}

.blog-post .post-content {
	background-color: #fff;
    padding: 26px 25px 20px;
    position: relative;
    top: -25px;
    margin: 10px;
    box-shadow: 0px 0px 10px #cdcdcd;
}

.blog-title li {
    margin-bottom: 20px;
}

.post-content .title-item {
	box-shadow: none;
}

.post-content p {
	margin-top: 20px;
    color: #7a7a7a;
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-size: 17px;
}

.post-content .btn {
	margin-bottom: 15px;
	display: inline-block;
}

.title-item {
	background-color: #fff;
    box-shadow: 0px 0px 10px #cdcdcd;
    padding: 25px 0 15px 20px;
}

.title-info{
	color: #343434;
    /* list-style: none;
    margin: 0;
    padding: 0; */
    margin-top: 8px;
    display: flex;
}

.title-info li{
	margin-right: 10px;
}

.title-info li i{
	color: #46bae2;
	margin-right: 5px;
}

.active .title-item {
	background-color: #46bae2;
	color: #fff;
}

.active .title-item .title-info li{
	color: #fff;
}

.active .title-item .title-info li i{
	color: #fff;
}
